CMakeLists.txt.user
.DS_Store
*~
Thumbs.db
.idea
*.autosave
doc
.format-check
.cache
cmake-build-*/**
builddir/**
.vscode/**
meson.build.user
__pycache__
docs/_build/**
docs/api-*/**
docs/doxygen_output/**
docker/build/
/docker/build-*
.clangd/**
**/compile_commands.json
docs/pntos-api-exhale
docs/version.py

*.gcov

# Local Python virtual environment
.venv/

# Ignore meson artifacts
/build*/
/subprojects/*/
